/* -- variables -- */
:root{
    --text: #1a1a1a;
    --primary: #103456;
    --accent: #DE6C2E;
    --accent-hover: #b0501c;
    --abbr-card: #F8F8F8;
    --inactive: #BDBDBD;
    --subtext: #505050;
    --search-icon: #757575;
}




/* -- typography -- */




/* -- HTML Elements -- */

html{
    font-size: 16px;
    color: var(--text);
    max-width: 100%;
    overflow-x: hidden;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--background);
}

section{
    display: flex;
    flex-direction: column;
}

input {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
}

input:focus,
input:active {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
}

i{
    color: var(--text);
    height: fit-content;
}


/* -- Global Classes */
.text-btn{
    background-color: transparent;
    border: none
}

.vertical-seperator{
    width: 1px;
    height: 1rem;
    background-color: var(--inactive);
}

.dot{
    width: 2px;
    height: 2px;
    background-color: var(--text);
    border-radius: 100%;
}



/*#region -- navbar -- */



/*#endregion */





/*#region -- header -- */

/*#endregion  */


/*#region -- about -- */

/*#endregion */



/*#region -- datatable -- */

/*#endregion */


/*#region -- abbreviations -- */
#abbreviations-wrapper{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 2rem;
    align-self: center;
    padding: 3rem;
    background:
    linear-gradient(to right, var(--primary) 3px, transparent 3px) 0 0,
    linear-gradient(to right, var(--primary) 3px, transparent 3px) 0 100%,
    linear-gradient(to left, var(--primary) 3px, transparent 3px) 100% 0,
    linear-gradient(to left, var(--primary) 3px, transparent 3px) 100% 100%,
    linear-gradient(to bottom, var(--primary) 3px, transparent 3px) 0 0,
    linear-gradient(to bottom, var(--primary) 3px, transparent 3px) 100% 0,
    linear-gradient(to top, var(--primary) 3px, transparent 3px) 0 100%,
    linear-gradient(to top, var(--primary) 3px, transparent 3px) 100% 100%;

    background-repeat: no-repeat;
    background-size: 20px 20px;
}

#abbr-filterbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

#abbr-filterbar button{
    font-size: 1.125rem;
}

#abbr-filterbar button.active{
    color:var(--accent);
}

#abbr-filterbar button:not([disabled]):hover{
    color:var(--accent-hover);
}




#abbr-search{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid var(--inactive);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 48px;
    width: 40%;
    height: 40px;
    padding: 8px 16px;
}

#abbr-search .search-wrapper{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#abbr-search i{
    color: var(--search-icon);
}

#abbr-search .close-btn{
    align-self: flex-end;
}


#abbr-search:focus-within {
    border-color: var(--accent);
}

#abbr-search .close-btn{
    background-color: transparent;
    border: none;
    width: auto;
    height: 100%;
    display: none;
    align-items: center;
}

#abbr-search .close-btn:hover i{
    color: var(--text);
}



#abbr-cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.abbr-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 15px 21px;
    gap: 15px;
    text-align: left;
    background-color: var(--abbr-card);
    border: 1px solid var(--inactive);
    border-radius: 8px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
}

.abbr-card:hover{
    border: 1.5px solid var(--accent);
}

.abbr-card .abbr-text{
    font-size: 1rem;
    color: var(--accent);
}

.abbr-card .abbr-description{
    font-size: 0.875rem;
    color: var(--subtext);
}





/*#endregion */


/* -- media -- */
/* @media (max-width: 1536px){
    .container{
        max-width: 1280px;
    }
}

@media (max-width: 1280px){
    .container{
        max-width: 1024px;
    }
}

@media (max-width: 1024px){
    .container{
        max-width: 768px;
    }
} */




/* -- keyframes -- */
