/* -- variables -- */
:root{
    --text: #1a1a1a;
    --primary: #103456;
    --accent: hsl(21, 73%, 53%);
    --accent-hover: hsl(21, 73%, 49%);
    --abbr-card: #F8F8F8;
    --inactive: #BDBDBD;
    --subtext: #505050;
    --search-icon: #757575;
    --search-background: #EBEBEB;
}




/* -- typography -- */




/* -- HTML Elements -- */

html{
    font-size: 16px;
    color: var(--text);
    max-width: 100%;
    overflow-x: hidden;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--background);
}

section{
    display: flex;
    flex-direction: column;
}

input {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
}

input:focus,
input:active {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
}

i{
    color: var(--text);
    height: fit-content;
}


/* -- Global Classes */
.text-btn{
    background-color: transparent;
    border: none
}

.close-btn{
    background-color: transparent;
    border: none;
    width: auto;
    height: 100%;
    display: none;
    align-items: center;
}

.close-btn:hover i{
    color: var(--text);
}

.vertical-seperator{
    width: 1px;
    height: 100%;
    background-color: var(--inactive);
}

.dot{
    width: 2px;
    height: 2px;
    background-color: var(--text);
    border-radius: 100%;
}

.display-1 {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.display-2 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    padding:0;
}



/*#region -- navbar -- */



/*#endregion */





/*#region -- header -- */
#header{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}


#header-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 80%;
    align-self: center;
    padding: 8px 8px 8px 24px;
    background-color: var(--search-background);
    border-radius: 48px;
    box-sizing: border-box;
}

#header-search input{
    font-size: 1.5rem;
    width: 60%;
}

#header-search #search-btn{
    background-color: var(--accent);
    padding: 6px;
    border-radius: 48px;
    aspect-ratio: 1/1;
    height: 100%;
    border: none;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
}

#header-search #search-btn:hover{
    background-color: var(--accent-hover);
}

#header-search #search-btn:active{
    transform: scale(0.98);
}

#header-search .select-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    border-right: 1px solid var(--inactive);
    border-left: 1px solid var(--inactive);

}

#header-search .select{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    height: 100%;
    justify-content: space-between;
    position: relative;
    top: 0;
}

#header-search .select.open{
    top: 24%;
}


#header-search .select i {
    transition: transform 0.3s ease-in-out;
}

#header-search .select.open i{
    transform: rotate(180deg);
    
}

#header-search .select-text-field{
    font-size: 1.5rem;
}

#header-search .select-options{
    display: none;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    background-color: white;
    padding: 1rem;
    width: 95%;
    position: relative;
    top:34px;
    z-index: 2;
    border-radius: 24px;
}

#header-search .select-option{
    padding: 6px;
    font-size: 1.25rem;
}

#header-search .select-option.active{
    font-weight: bold;
}

#header-search .select-option:active{
    transform: scale(0.98);
}

#header-search .select-option:hover{
    background-color: var(--search-background);
}

#stats-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 24px 0px;
}

.stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats-number{
    font-size: 3rem;
    font-weight: bold;
    color: var(--accent);
}

.stats-text{
    font-size: 1.5rem;
}




/*#endregion  */


/*#region -- about -- */

/*#endregion */



/*#region -- datatable -- */

/*#endregion */


/*#region -- abbreviations -- */
#abbreviations-wrapper{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 2rem;
    align-self: center;
    padding: 3rem;
    background:
    linear-gradient(to right, var(--primary) 3px, transparent 3px) 0 0,
    linear-gradient(to right, var(--primary) 3px, transparent 3px) 0 100%,
    linear-gradient(to left, var(--primary) 3px, transparent 3px) 100% 0,
    linear-gradient(to left, var(--primary) 3px, transparent 3px) 100% 100%,
    linear-gradient(to bottom, var(--primary) 3px, transparent 3px) 0 0,
    linear-gradient(to bottom, var(--primary) 3px, transparent 3px) 100% 0,
    linear-gradient(to top, var(--primary) 3px, transparent 3px) 0 100%,
    linear-gradient(to top, var(--primary) 3px, transparent 3px) 100% 100%;

    background-repeat: no-repeat;
    background-size: 20px 20px;
}

#abbr-filterbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

#abbr-filterbar .vertical-seperator{
    height: 1rem;
}

#abbr-filterbar button{
    font-size: 1.125rem;
}

#abbr-filterbar button.active{
    color:var(--accent);
}

#abbr-filterbar button:not([disabled]):hover{
    color:var(--accent-hover);
}

#abbr-filterbar button:not([disabled]):active{
    transform: scale(0.95);
}

#abbr-search{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid var(--inactive);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 48px;
    width: 40%;
    height: 40px;
    padding: 8px 16px;
}

#abbr-search .search-wrapper{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#abbr-search i{
    color: var(--search-icon);
}


#abbr-search:focus-within {
    border-color: var(--accent);
}

#abbr-cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.abbr-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 15px 21px;
    gap: 15px;
    text-align: left;
    background-color: var(--abbr-card);
    border: 1px solid var(--inactive);
    border-radius: 8px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
}

.abbr-card:hover{
    border: 1.5px solid var(--accent);
}

.abbr-card .abbr-text{
    font-size: 1rem;
    color: var(--accent);
}

.abbr-card .abbr-description{
    font-size: 0.875rem;
    color: var(--subtext);
}





/*#endregion */


/* -- media -- */
/* @media (max-width: 1536px){
    .container{
        max-width: 1280px;
    }
}

@media (max-width: 1280px){
    .container{
        max-width: 1024px;
    }
}

@media (max-width: 1024px){
    .container{
        max-width: 768px;
    }
} */




/* -- keyframes -- */
