<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrganoidMap</title>

    <!-- Tabulator Stylesheet -->
    
    <link href="https://unpkg.com/tabulator-tables@6.3.0/dist/css/tabulator_bulma.min.css" rel="stylesheet">

    <!-- My style sheet-->
    <link rel="stylesheet" href="/static/css/index.css">


</head>

<body>

    <nav>
        
        

    </nav>
    
    <main>

        <section class="header">
            <div class="header-background">
                <h1 class="display-1">
                    OrganoidMap
                </h1>
                <h1 class="display-2">.. your place for cerebral organoid research</h1>
            </div>

            <div id="header-search">
 
                <input type="text" name="Search" placeholder="Search Abbreviations..." aria-placeholder="Search Abbreviations..." class="search-input">
               
                <button class="close-btn" type="button" aria-label="Search">
                    <i class="fa-solid fa-xmark" aria-disabled="true"></i>
                </button>


                <div class="select-wrapper">
                    <div class="select" data-value="All Fields">
                      <div class="select-text-field">
                        All Fields
                      </div>
                      <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="select-options">

                    </div>  
                </div>

        

                <button id="search-btn" class="icon-btn" type="button" aria-label="Search">
                    <i class="fa-solid fa-magnifying-glass" aria-disabled="true"></i>
                </button>
            </div>

            <div id="stats-wrapper">

                <div id="papers-stat" class="stat">
                    <div id="papers-number" class="stats-number" target="800">0</div>
                    <div id="papers-text" class="stats-text">Research Papers</div>
                </div>

                <div class="vertical-seperator"></div>

                <div id="models-stat" class="stat">
                    <div id="models-number" class="stats-number" target="3">0</div>
                    <div id="models-text" class="stats-text">Models</div>
                </div>


                <div class="vertical-seperator"></div>

                <div id="subgroups-stat" class="stat">
                    <div id="subgroups-number" class="stats-number" target="17">0</div>
                    <div id="subgroups-text" class="stats-text">Subgroups</div>
                </div>

                <sl-divider vertical></sl-divider>

                <div id="focuses" class="stat">
                    <div id="focuses-number" class="stats-number" target="134">0</div>
                    <div id="focuses-text" class="stats-text">Focuses</div>
                </div>

                <sl-divider vertical></sl-divider>

                <div id="journals" class="stat">
                    <div id="journals-number" class="stats-number" target="134">0</div>
                    <div id="journals-text" class="stats-text">Journals</div>
                </div>

            </div>


        </section>
        
        
        <section id="about">
            <div class="about-section" id="exploring">
                <h1>Exploring Cerebral Organoid Research in Neuroscience</h1>
                <p>Over the past ten years, cerebral organoids have transformed how we study the brain. Derived from stem cells, these 3D “mini-brains in a dish” mimic early brain development and offer an ethical, species-relevant alternative to traditional animal models. Organoids have opened new frontiers across neurodevelopment, neurodegeneration, and neuro-oncology — enabling researchers to model complex brain processes, human diseases, and even patient-specific traits in a controlled lab setting</p>
            </div>

            <div class="about-organoidmap-wrapper">
                <div class="about-section" id="about-organoidmap">
                    <h1>About OrganoidMap</h1>
                    <p>With OrganoidMap, we aim to provide a straightforward, broadly accessible tool suitable for everyone interested in cerebral organoids — whether you’re a beginner or an expert, this tool helps you navigate the growing and complex landscape of cerebral organoid research.</p>
                </div>

                <div class="sunburst-group">

                </div>
            </div>

            <div class="about-section" id="vision">
                <h1>Vision</h1>
                <p>Our interactive platform brings together <span id="papers-span">approximately 800</span> publications from the past decade, systematically categorized by research domain, cell source, application, as well as model advantages and limitations.</p>
            </div>
            
        </section>

        <section id="how-to">
            <h1>How to Use the Platform</h1>
            <p>
                You have two main ways to explore the dataset:

                <ol>
                    <li> <strong>Search Bar</strong>
                         <br> Use the search bar at the top of the page to directly look for specific terms, keywords, or topics.
                    </li>
                    <br>
                    <li>
                        <strong>Filter Options</strong>
                        <br>
                        Use the filter panel to explore and narrow down studies based on key categories:

                        <ul>
                            <li>Group – Neurodevelopment, Neurodegeneration, or Neuro-oncology</li>
                            <li>Subgroup – e.g., functional studies in neurodevelopment, tauopathies in neurodegeneration, or glioma in neuro-oncology</li>
                            <li>Model Type – e.g., Cerebral organoid, assembloid, or co-culture systems</li>
                            <li>Cell Origin – e.g., embryonic stem cells (ESCs) or induced pluripotent stem cells (iPSCs)</li>
                        </ul>

                    </li>
                </ol>
                
                
                <br>
                By visualizing trends and synthesizing relevant models in one table — allowing you to directly compare their advantages and limitations — we aim to support more informed, precise, and translationally relevant neuroscience.
                

                

            </p>
        </section>

        <section id="visualizations">

        </section>

        <section id="datatable">
            <h2>Dataset</h2>
            <div id="table-filters">
                <div class="select-wrapper" id="group-filter">
                    <div class="select">
                      <div class="select-text-field">
                        Group
                      </div>
                      <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="filter-options">
                        <div id="group-search" class="search">
                            <div class="search-wrapper">
                                <i class="fa-solid fa-magnifying-glass" aria-disabled="true"></i>
                                <input type="text" name="Search" placeholder="Search..." aria-placeholder="Search..." class="search-input">
                            </div>
                            <button class="close-btn" type="button" aria-label="Search">
                                <i class="fa-solid fa-xmark" aria-disabled="true"></i>
                            </button>
                        </div>

                        <div class="options-container"></div>
                    </div>  
                </div>

                <div class="select-wrapper" id="subgroup-filter">
                    <div class="select">
                      <div class="select-text-field">
                        Subgroup
                      </div>
                      <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="filter-options">
                        <div id="subgroup-search" class="search">
                            <div class="search-wrapper">
                                <i class="fa-solid fa-magnifying-glass" aria-disabled="true"></i>
                                <input type="text" name="Search" placeholder="Search..." aria-placeholder="Search..." class="search-input">
                            </div>
                            <button class="close-btn" type="button" aria-label="Search">
                                <i class="fa-solid fa-xmark" aria-disabled="true"></i>
                            </button>
                        </div>

                        <div class="options-container"></div>
                    </div>  
                </div>

                <div class="select-wrapper" id="focus-filter">
                    <div class="select">
                      <div class="select-text-field">
                        Focus
                      </div>
                      <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="filter-options">
                        <div id="focus-search" class="search">
                            <div class="search-wrapper">
                                <i class="fa-solid fa-magnifying-glass" aria-disabled="true"></i>
                                <input type="text" name="Search" placeholder="Search..." aria-placeholder="Search..." class="search-input">
                            </div>
                            <button class="close-btn" type="button" aria-label="Search">
                                <i class="fa-solid fa-xmark" aria-disabled="true"></i>
                            </button>
                        </div>

                        <div class="options-container"></div>
                    </div>  
                </div>

                <div class="select-wrapper" id="model-filter">
                    <div class="select">
                      <div class="select-text-field">
                        Model
                      </div>
                      <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="filter-options">
                        <div id="model-search" class="search">
                            <div class="search-wrapper">
                                <i class="fa-solid fa-magnifying-glass" aria-disabled="true"></i>
                                <input type="text" name="Search" placeholder="Search..." aria-placeholder="Search..." class="search-input">
                            </div>
                            <button class="close-btn" type="button" aria-label="Search">
                                <i class="fa-solid fa-xmark" aria-disabled="true"></i>
                            </button>
                        </div>

                        <div class="options-container"></div>
                    </div>  
                </div>

                <div class="select-wrapper" id="cell-origin-filter">
                    <div class="select">
                      <div class="select-text-field">
                        Cell Origin
                      </div>
                      <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="filter-options">
                        <div id="cell-origin-search" class="search">
                            <div class="search-wrapper">
                                <i class="fa-solid fa-magnifying-glass" aria-disabled="true"></i>
                                <input type="text" name="Search" placeholder="Search..." aria-placeholder="Search..." class="search-input">
                            </div>
                            <button class="close-btn" type="button" aria-label="Search">
                                <i class="fa-solid fa-xmark" aria-disabled="true"></i>
                            </button>
                        </div>

                        <div class="options-container"></div>
                    </div>  
                </div>

                <div class="select-wrapper" id="year-filter">
                    <div class="select">
                      <div class="select-text-field">
                        Year
                      </div>
                      <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="filter-options">
                        <div id="year-search" class="search">
                            <div class="search-wrapper">
                                <i class="fa-solid fa-magnifying-glass" aria-disabled="true"></i>
                                <input type="text" name="Search" placeholder="Search..." aria-placeholder="Search..." class="search-input">
                            </div>
                            <button class="close-btn" type="button" aria-label="Search">
                                <i class="fa-solid fa-xmark" aria-disabled="true"></i>
                            </button>
                        </div>

                        <div class="options-container"></div>
                    </div>  
                </div>

                <div class="select-wrapper" id="journal-filter">
                    <div class="select">
                      <div class="select-text-field">
                        Journal
                      </div>
                      <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="filter-options">
                        <div id="journal-search" class="search">
                            <div class="search-wrapper">
                                <i class="fa-solid fa-magnifying-glass" aria-disabled="true"></i>
                                <input type="text" name="Search" placeholder="Search..." aria-placeholder="Search..." class="search-input">
                            </div>
                            <button class="close-btn" type="button" aria-label="Search">
                                <i class="fa-solid fa-xmark" aria-disabled="true"></i>
                            </button>
                        </div>

                        <div class="options-container"></div>
                    </div>  
                </div>

            </div>
            <div id="table-container">

            </div>
            
        </section>

        <section id="abbreviations">
            <h2>Abbreviations</h2>

            <div id="abbreviations-wrapper">

                <div id="abbr-filterbar">
                    <button id="all" type="button" class="text-btn"> All</button>

                    <div class="vertical-seperator"></div>

                    <button id="a" type="button" class="text-btn">A</button>
                    <div class="dot"></div>
                    <button id="b" type="button" class="text-btn">B</button>
                    <div class="dot"></div>
                    <button id="c" type="button" class="text-btn">C</button>
                    <div class="dot"></div>
                    <button id="d" type="button" class="text-btn">D</button>
                    <div class="dot"></div>
                    <button id="e" type="button" class="text-btn">E</button>
                    <div class="dot"></div>
                    <button id="f" type="button" class="text-btn">F</button>
                    <div class="dot"></div>
                    <button id="g" type="button" class="text-btn">G</button>
                    <div class="dot"></div>
                    <button id="h" type="button" class="text-btn">H</button>
                    <div class="dot"></div>
                    <button id="i" type="button" class="text-btn">I</button>
                    <div class="dot"></div>
                    <button id="j" type="button" class="text-btn">J</button>
                    <div class="dot"></div>
                    <button id="k" type="button" class="text-btn">K</button>
                    <div class="dot"></div>
                    <button id="l" type="button" class="text-btn">L</button>
                    <div class="dot"></div>
                    <button id="m" type="button" class="text-btn">M</button>
                    <div class="dot"></div>
                    <button id="n" type="button" class="text-btn">N</button>
                    <div class="dot"></div>
                    <button id="o" type="button" class="text-btn">O</button>
                    <div class="dot"></div>
                    <button id="p" type="button" class="text-btn">P</button>
                    <div class="dot"></div>
                    <button id="q" type="button" class="text-btn">Q</button>
                    <div class="dot"></div>
                    <button id="r" type="button" class="text-btn">R</button>
                    <div class="dot"></div>
                    <button id="s" type="button" class="text-btn">S</button>
                    <div class="dot"></div>
                    <button id="t" type="button" class="text-btn">T</button>
                    <div class="dot"></div>
                    <button id="u" type="button" class="text-btn">U</button>
                    <div class="dot"></div>
                    <button id="v" type="button" class="text-btn">V</button>
                    <div class="dot"></div>
                    <button id="w" type="button" class="text-btn">W</button>
                    <div class="dot"></div>
                    <button id="x" type="button" class="text-btn">X</button>
                    <div class="dot"></div>
                    <button id="y" type="button" class="text-btn">Y</button>
                    <div class="dot"></div>
                    <button id="z" type="button" class="text-btn">Z</button>

                </div>

                <div id="abbr-search" class="search">
                    <div class="search-wrapper">
                        <i class="fa-solid fa-magnifying-glass" aria-disabled="true"></i>
                        <input type="text" name="Search" placeholder="Search Abbreviations..." aria-placeholder="Search Abbreviations..." class="search-input">
                    </div>
                    <button class="close-btn" type="button" aria-label="Search">
                        <i class="fa-solid fa-xmark" aria-disabled="true"></i>
                    </button>
                </div>

                <div id="abbr-cards-wrapper">

                </div>


            </div>
            

        </section>

        <section id="footer">
            <div id="top-row">
                <div id="footer-logo">
                    Logo
                </div>
                <div id="contact">
                    <p>
                        <strong>Contact:</strong> <br>
                        Sevenich Lab <br>
                        Anna Wolfram & Lisa Sevenich <br>
                        Otfried-Müller-Straße 37 <br>
                        72070 Tübingen <br>
                        Mail: <a href="mailto:mail@annawolfram.com">mail@annawolfram.com</a> </p>
                </div>
                
            </div>
            <div class="horizontal-seperator"></div>
            <div id="bottom-row">
                <div id="copyright">
                    © 2025 Anna Wolfram
                </div>
                <div id="links">
                    <a href="/legal#impressum"> Impressum / Legal Disclosure</a>
                    <a href="/legal#privacy-policy">Privacy Policy</a>
                    <a href="/legal#terms-of-use">Terms of use</a>
                    <a href="/legal#disclaimer">Disclaimer</a>
                    <a href="/legal#accessibility-statement">Accessibility statement</a>
                </div>
            </div>

        </section>
        

    </main>

    

    <!-- Axios Script v1.8.4 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Font Awesome Script for Icons -->
    <script src="https://kit.fontawesome.com/b891bf6f8e.js" crossorigin="anonymous"></script>

    <!-- Echarts v5.6.0 -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js"></script>

    <!-- Tabulator script v6.3 -->
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@6.3.0/dist/js/tabulator.min.js"></script> 

    <!-- Intern Scripts --> 
    <script src="/static/js/requests.js"></script>
    <script src="/static/js/classes.js"></script>
    <script src="/static/js/index.js"></script>
    

</body>