<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <!-- Tabulator Stylesheet -->
    
    <link href="https://unpkg.com/tabulator-tables@6.3.0/dist/css/tabulator_bulma.min.css" rel="stylesheet">

    <!-- My style sheet-->
    <link rel="stylesheet" href="/static/css/index.css">


</head>

<body>

    <nav>
        
        

    </nav>
    
    <main>

        <section id="header" class="container">
            <h1 class="display-1">
                OrganoidMap
            </h1>
            <h1 class="display-2">.. your place for organoid research</h1>

            <div id="header-search">
 
                <input type="text" name="Search" placeholder="Search Abbreviations..." aria-placeholder="Search Abbreviations..." class="search-input">
               
                <button class="close-btn" type="button" aria-label="Search">
                    <i class="fa-solid fa-xmark" aria-disabled="true"></i>
                </button>


                <div class="select-wrapper">
                    <div class="select">
                      <div class="select-text-field">
                        All Fields
                      </div>
                      <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="select-options">

                    </div>  
                </div>

        

                <button id="search-btn" class="icon-btn" type="button" aria-label="Search">
                    <i class="fa-solid fa-magnifying-glass" aria-disabled="true"></i>
                </button>
            </div>

            <div id="stats-wrapper">

                <div id="papers-stat" class="stat">
                    <div id="papers-number" class="stats-number" target="800">600</div>
                    <div id="papers-text" class="stats-text">Research Papers</div>
                </div>

                <div class="vertical-seperator"></div>

                <div id="models-stat" class="stat">
                    <div id="models-number" class="stats-number" target="3">0</div>
                    <div id="models-text" class="stats-text">Models</div>
                </div>


                <div class="vertical-seperator"></div>

                <div id="subgroups-stat" class="stat">
                    <div id="subgroups-number" class="stats-number" target="17">0</div>
                    <div id="subgroups-text" class="stats-text">Subgroups</div>
                </div>

                <sl-divider vertical></sl-divider>

                <div id="something" class="stat">
                    <div id="something-number" class="stats-number" target="134">0</div>
                    <div id="something-text" class="stats-text">something</div>
                </div>

            </div>


        </section>
        
        
        <section id="about" class="container">

            
        </section>

        <section id="datatable" class="container">
            <h2>Dataset</h2>
            <div id="table-container">

            </div>
            
        </section>

        <section id="abbreviations" class="container">
            <h2>Abbreviations</h2>

            <div id="abbreviations-wrapper">

                <div id="abbr-filterbar">
                    <button id="all" type="button" class="text-btn"> All</button>

                    <div class="vertical-seperator"></div>

                    <button id="a" type="button" class="text-btn">A</button>
                    <div class="dot"></div>
                    <button id="b" type="button" class="text-btn">B</button>
                    <div class="dot"></div>
                    <button id="c" type="button" class="text-btn">C</button>
                    <div class="dot"></div>
                    <button id="d" type="button" class="text-btn">D</button>
                    <div class="dot"></div>
                    <button id="e" type="button" class="text-btn">E</button>
                    <div class="dot"></div>
                    <button id="f" type="button" class="text-btn">F</button>
                    <div class="dot"></div>
                    <button id="g" type="button" class="text-btn">G</button>
                    <div class="dot"></div>
                    <button id="h" type="button" class="text-btn">H</button>
                    <div class="dot"></div>
                    <button id="i" type="button" class="text-btn">I</button>
                    <div class="dot"></div>
                    <button id="j" type="button" class="text-btn">J</button>
                    <div class="dot"></div>
                    <button id="k" type="button" class="text-btn">K</button>
                    <div class="dot"></div>
                    <button id="l" type="button" class="text-btn">L</button>
                    <div class="dot"></div>
                    <button id="m" type="button" class="text-btn">M</button>
                    <div class="dot"></div>
                    <button id="n" type="button" class="text-btn">N</button>
                    <div class="dot"></div>
                    <button id="o" type="button" class="text-btn">O</button>
                    <div class="dot"></div>
                    <button id="p" type="button" class="text-btn">P</button>
                    <div class="dot"></div>
                    <button id="q" type="button" class="text-btn">Q</button>
                    <div class="dot"></div>
                    <button id="r" type="button" class="text-btn">R</button>
                    <div class="dot"></div>
                    <button id="s" type="button" class="text-btn">S</button>
                    <div class="dot"></div>
                    <button id="t" type="button" class="text-btn">T</button>
                    <div class="dot"></div>
                    <button id="u" type="button" class="text-btn">U</button>
                    <div class="dot"></div>
                    <button id="v" type="button" class="text-btn">V</button>
                    <div class="dot"></div>
                    <button id="w" type="button" class="text-btn">W</button>
                    <div class="dot"></div>
                    <button id="x" type="button" class="text-btn">X</button>
                    <div class="dot"></div>
                    <button id="y" type="button" class="text-btn">Y</button>
                    <div class="dot"></div>
                    <button id="z" type="button" class="text-btn">Z</button>

                </div>

                <div id="abbr-search">
                    <div class="search-wrapper">
                        <i class="fa-solid fa-magnifying-glass" aria-disabled="true"></i>
                        <input type="text" name="Search" placeholder="Search Abbreviations..." aria-placeholder="Search Abbreviations..." class="search-input">
                    </div>
                    <button class="close-btn" type="button" aria-label="Search">
                        <i class="fa-solid fa-xmark" aria-disabled="true"></i>
                    </button>
                </div>

                <div id="abbr-cards-wrapper">

                </div>


            </div>
            

        </section>
        

    </main>

    <!-- Axios Script -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Font Awesome Script for Icons -->
    <script src="https://kit.fontawesome.com/b891bf6f8e.js" crossorigin="anonymous"></script>

    <!-- Tabulator script v6.3 -->
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@6.3.0/dist/js/tabulator.min.js"></script> 

    <!-- Intern Scripts --> 
    <script src="/static/js/requests.js"></script>
    <script src="/static/js/classes.js"></script>
    <script src="/static/js/index.js"></script>
    

</body>