<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrganoidMap</title>

    <!-- My style sheet-->
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <section class="header">
        <h1 class="display-1">
            OrganoidMap
        </h1>
        <h1 class="display-2">.. your place for cerebral organoid research</h1>
    </section>

    <section id="info"> 

        <h2 id="impressum"> Impressum / Legal Disclosure</h2>

        <p>

        </p>


        <h2 id="privacy-policy">Privacy Policy</h2>

        <p>
            We take the protection of your personal data seriously. This website complies with the EU General Data Protection Regulation (GDPR) and applicable German data protection laws.

            <br>
            <h3>1. Data Collection and Use</h3>
            <br>

            We do not collect personal data unless you voluntarily provide it (e.g., via email contact). The data will only be used for the purpose for which it was provided and will not be shared with third parties without your consent.

            <br>
            <h3>2. Server Logs</h3>
            <br>

            When accessing this website, your browser automatically sends information to our web server. This includes:

            IP address

            Date and time of access

            Browser type and version

            Operating system

            Referrer URL (previous page) This data is stored temporarily in server log files for technical reasons and to ensure the stability and security of the website. It is not merged with other data sources.

            <br>
            <h3>3. Cookies</h3>
            <br>

            This website does not use cookies for tracking or advertising purposes. If cookies are used (e.g., for session handling), they are strictly necessary for functionality and are not used to personally identify users.

            5. Contact

            If you contact us via email, we will store your message and the contact information you provide for the purpose of responding to your inquiry. This data will not be shared.

            6. Data Subject Rights

            You have the right to:

            Access your stored data

            Request correction or deletion

            Object to data processing

            File a complaint with the responsible data protection authority

            For any data protection inquiries, please contact us at: (Verweis auf Impressum)
        </p>

        <h2 id="terms-of-use"> Terms of Use </h2>
        <p>
            This website is intended to provide open-access resources highlighting the use of organoid models in neuroscience. By using this platform, you agree to the following terms:

            All content is provided for informational and academic purposes only.

            You may access, use, and cite data freely, provided appropriate credit is given to the source and publication.

            Commercial use of the content is not permitted without prior written consent.

            We reserve the right to modify or discontinue the platform at any time without notice.

            For citation and reuse, please refer to the associated publication: [Insert title/link].

        </p>

        <h2 id="disclaimer">Disclaimer</h2>
        <p>
            The content provided on this website has been compiled with the greatest care and is based on the best available scientific knowledge at the time of publication. However, we do not guarantee the accuracy, completeness, or timeliness of the information presented.

            We assume no liability for any direct or indirect damages resulting from the use of this platform, including decisions made or actions taken based on the data provided. Users are responsible for critically evaluating the content and, where appropriate, referring to the original sources.

            For details on data collection, curation, and filtering methods, please refer to the associated open-access publication: [Insert publication title/link].
        </p>
        <!-- TODO insert publication link -->

        <h2 id="accessibility-statement">Accessibility Statement</h2>
        <p>
            We are committed to making this website accessible in accordance with national legislation implementing Directive (EU) 2016/2102.

            Current Status of Accessibility

            This website is partially compliant with the applicable accessibility standards. We are working to improve accessibility features such as:

            Keyboard navigation

            Text alternatives for non-text content

            Contrast and readability improvements

            If you encounter accessibility barriers while using this site, please contact us so we can address the issue:

            Auf Impressum verweisen.
        </p>

        <h2 id="attributions">Attributions</h2>

        <p>The OrganoidMap makes use of the following open-source tools and resources:</p>

        <ul>
            <li><a href="https://echarts.apache.org/en/index.html">ECharts</a>
                <ul>
                    <li>Description: A powerful charting and visualization library.</li>
                    <li>License: Apache License 2.0</li>
                    <li>Version:</li>
                    <li>CDN provider: </li>
                </ul>
            </li>
            <li><a href="https://tabulator.info/">Tabulator</a>
                <ul>
                    <li>Description: A JavaScript library for creating interactive data tables.</li>
                    <li>License: MIT</li>
                    <li>Version: 6.3.0</li>
                    <li>CDN provider: unpgk.com </li>
                </ul>
            </li>
            <li><a href="https://fontawesome.com/">Font Awesome Free</a>
                <ul>
                    <li>Description: A popular library for vector icons and social logos.</li>
                    <li>License: MIT</li>
                    <li>Version: 6.7.2</li>
                </ul>
            </li>
            <li><a href="https://axios-http.com/">Axios</a>
                <ul>
                    <li>Description: A promise-based HTTP client for making requests in JavaScript.</li>
                    <li>License: MIT</li>
                    <li>CDN provider: jsdelivr.net </li>
                </ul>
            </li>
            <li><a href="https://unpkg.com/">unpkg (for CDN management)</a>
                <ul>
                    <li>Description: A fast, global content delivery network for everything on npm.</li>
                </ul>
            </li>
            <li><a href="https://www.jsdelivr.com/">jsdelivr (for CDN management)</a>
                <ul>
                    <li>Description: A free CDN that serves JavaScript libraries, CSS frameworks, and other assets with high speed and reliability.</li>
                </ul>
            </li>
        </ul>


    


    </section>

    <section id="footer">
        <div id="top-row">
            <div id="footer-logo">
                Logo
            </div>
            <div id="contact">
                <p>
                    <strong>Contact:</strong> <br>
                    Sevenich Lab <br>
                    Anna Wolfram & Lisa Sevenich <br>
                    Otfried-Müller-Straße 37 <br>
                    72070 Tübingen <br>
                    Mail: <a href="mailto:mail@annawolfram.com">mail@annawolfram.com</a> </p>
            </div>
            <div id="links">
                <a href="/legal#impressum"> Impressum / Legal Disclosure</a>
                <a href="/legal#privacy-policy">Privacy Policy</a>
                <a href="/legal#terms-of-use">Terms of use</a>
                <a href="/legal#disclaimer">Disclaimer</a>
                <a href="/legal#accessibility-statement">Accessibility statement</a>
            </div>
        </div>
        <div class="horizontal-seperator"></div>
        <div class="bottom-row">
            <div id="copyright">
                © 2025 Anna Wolfram
            </div>
        </div>

    </section>
    
</body>
</html>